.over {
    outline: dotted 1px black !important;
    outline-offset: -12px !important;
}

.closest {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-top: 4px dotted red;
    border-top-width: thick;
}

.closest-h {
    border-top-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-left: 4px dotted red;
    border-left-width: thick;
}